# Node / Angular
node_modules/
dist/
www/
coverage/
.tmp/
# Ionic / Cordova
platforms/
plugins/
# Sistemas/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Build cache
.angular/
